@model followMe.Models.userDefined
@using (Html.BeginForm())
{
    
    @Html.HiddenFor(m => m.username, new { @id = "userdesigned" })
    @Html.HiddenFor(m => m.enter, new { @id = "userenter" })
    @Html.HiddenFor(m => m.left, new { @id = "userleft" })
    @Html.HiddenFor(m => m.right, new { @id = "userright" })
    @Html.HiddenFor(m => m.up, new { @id = "userup" })
    @Html.HiddenFor(m => m.surrender, new { @id = "usersurrender" })
    @Html.HiddenFor(m => m.special, new { @id = "userspecial" })
    @Html.HiddenFor(m => m.build, new { @id = "userbuild" })
    @Html.HiddenFor(m => m.isVenoir, new { @id = "IsVenoirGet" })
    @Html.HiddenFor(m => m.online, new { @id = "IsOnlineGet" })
    @Html.HiddenFor(m => m.email, new { @id = "useremail" })
    @Html.HiddenFor(m => m.friendlyFire, new { @id = "IsFriendlyFireGet" })
    @Html.HiddenFor(m => m.socialOnly, new { @id = "IsSocialOnlyGet" })
    @Html.HiddenFor(m => m.rankOnline, new { @id = "IsRankOnlineGet" })
    @Html.HiddenFor(m => m.shareXPInHelp, new { @id = "IsShareXPInHelpGet" })
    <input data-role="none" type="submit" value="Back To the Game" />
}
<br />


<section class="flexboxDefined" id="furtherDetails">

    <aside id="otherDetails" class="smallboxDefined">        
        <button id="videosButton">Videos</button>
        <button id="soundsButton">Sounds and other options</button>
        <button id="keyboardButton">Program keys</button>
        <button id="playerProgressButton">Your progress</button>
        <br />
        
        <aside id="videos">
            <h4>Your previous videos</h4>
            1 : What happened<br />
            <iframe class="other" src="https://www.youtube.com/embed/Ci5XxhCAqvM" frameborder="0" allowfullscreen></iframe>
        </aside>



        <aside id="sounds">
            @Html.Partial("_playerOptions")
            


        </aside>

        <aside id="keyboard">
            <div class="row">
                <h4 class="col-md-4 col-md-offset-4">Program your keys</h4>
            </div>

            <div id="keyboardProgam" class="row">
                <div class="col-md-4 col-sm-12">
                    To Enter:
                    <input type="text" id="designEnter" /><b id="enter"></b>
                </div>
                <div class="col-md-4 col-sm-12">
                    Move Left:
                    <input type="text" id="designLeft" /><b id="left"></b>
                </div>
                <div class="col-md-4 col-sm-12">
                    Move Right:
                    <input type="text" id="designRight" /><b id="right"></b>
                </div>
                <div class="col-md-4 col-sm-12">
                    Jump [if right or left held]
                    <input type="text" id="designUp" /><b id="up"></b>
                </div>
                <div class="col-md-4 col-sm-12">
                    Surrender [back to level select]
                    <input type="text" id="designSurrender" /><b id="surrender"></b>
                </div>
                <div class="col-md-4 col-sm-12">
                    Special [Activate your primary ability]
                    <input type="text" id="designSpecial" /><b id="special"></b>
                </div>
                <div class="col-md-4 col-sm-12">
                    Build [starts creating a new game object]
                    <input type="text" id="designBuild" /><b id="build"></b>
                </div>
            </div>
        </aside>
        <aside id="playerProgress" class="row">
            <h4>Your progress</h4>
        </aside>
    </aside>
</section>